.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App {
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.content {
    display: block;
    background: white;
    width: 50%;
    min-height: 150px;
    border: rgb(206, 204, 215) solid 1px;
    border-radius: 6px;
}

.toolbar {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgb(250, 251, 253);
    padding: 10px;
    border-bottom: rgb(206, 204, 215) solid 1px;
    display: flex;
    text-align: center;
}

.editable {
    padding: 10px;
}

.menu {
}
